body {
  background: #313131;
  font-family: 'Fira Mono', monospace;
  color: white;
}

.title-text {
  font-size: 30px;
  font-family: 'Major Mono Display', monospace;
}

.description-text {
  font-size: 12px;
  color: #ffffff60;
}

#navbar {
  background: #313131;
  padding: 50px 80px;
  border-bottom: 0.5px solid #ffffff60;
}

#navbarBrand {
  width: 100%;
  padding-bottom: 10px;
}

#navbarDescription {
}

#userRole {
  height: 55px;
  width: 150px;
  font-size: 15px;
  line-height: 30px;
  text-align: right;
  color: #ffffff60;
}

#userRole i {
  margin-right: 5px;
  font-size: 12px;
}

#userRoleText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
  text-align: center;
  color: #ffffff60;
  font-family: 'Major Mono Display', monospace;
}

#userStatus {
  text-align: right;
}

#userStatus i {
  animation: blinker 1s linear infinite;
}

#userStatus i {
  color: #ffc000;
  margin: 5px;
  font-size: 12px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.container-fluid {
  padding: 50px 80px;
}

.card-container {
  margin: 15px 20px 15px 0px;
  /* padding: 40px 60px; */
}

.card-content {
  height: 450px;
  padding: 40px 60px 0px 60px; 
}

.card-container.active {
  background: #313131;
  border: 1px solid #ffffff60;
}

.card-container.inactive {
  background: #313131;
  border: 1px solid #ffffff20;
}

.card-header {
  padding: 0px;
  border-radius: 0px!important;
}
.card-container.active .card-header{
  /* border-top: 10px solid #ffffff60; */
}

.card-container.inactive .card-header{
  /* border-top: 10px solid #313131; */
}

.card-container.inactive::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #313131bd;
}

.card-title {
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
}

.card-description {
  font-size: 12px;
  height: 80px;
}

.input-container {
  padding-bottom: 15px;
}

.input-container textarea {
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
  padding: 10px;
  font-size: 10px;
}

label {
  font-size: 15px;
}

.btn {
  font-size: 12px;
  padding: 10px 20px;
  background: #ffffff60;
  border: none;
  color: white;
}

.btn:hover {
    -webkit-filter: brightness(70%);
}

.card-next.active {
  font-size: 15px;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  color: #E86702;
  text-align: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.card-next.inactive {
  font-size: 15px;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  text-align: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.input-container input {
  width: 100%;
  resize: none;
  outline: none;
  padding: 10px;
  font-size: 10px;
}

#secretErrorMsg {
  font-size: 10px;
  color: #ffc000;
}

#decodeErrorMsg {
  font-size: 10px;
  color: #ffc000;
}

.totp-container.active {}

.totp-container.inactive {
  display: none;
}

.totp-container #totpCode {
  text-align: center;
  font-size: 30px;
  font-family: 'Major Mono Display', monospace;
}

#totpTimer {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 30px;
}

.console-text-area {
  height: 300px!important;
  background: black!important;
  color: white!important;
}

@media only screen and (max-width: 1204px) {
  #navbar {
    padding: 20px 30px;
  }

  .container-fluid {
    padding: 20px 30px;
  }

  .card-container {
    margin: 0px 7px 30px 7px;

  }

  .card-content {
    height: 420px;
    padding: 20px 30px 0px 30px;
  }

  button {
    width: 100%;
    background: #ffffff60;
    border: none;
    color: white;
    font-size: 12px;
    padding: 10px;
  }
}